* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --outfit: "Outfit", sans-serif;
  --primary-color: #a478e8;
  --secondary-color: rgba(247, 249, 252, 1);
  font-size: 16px;
}

body {
  font-family: var(--outfit);
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}
/* aside */
.left {
}

.intro {
}

.intro__img-container {
  width: 100%;
}

.intro__info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.intro__info__name {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  animation: name 1s ease-in-out 0s 1;
}

.intro__info__profession {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
}

.quote {
  text-align: center;
  margin: 2rem 0;
}

.quote__title {
  padding: 0 15px;
  min-width: 90%;
  font-size: 1.1rem;
  position: relative;
  margin: 0 20px;
  display: inline-block;
}

.quote__title::before {
  content: "";
  width: 12px;
  height: 10px;
  display: block;
  position: absolute;
  top: 2px;
  left: -5px;
  background-image: url(./images/double-quote-opening.png);
}

.quote__title::after {
  content: "";
  width: 12px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 2px;
  right: 20px;
  background-image: url(./images/double-quote-closing.png);
}
.quote__author {
  font-size: 0.75rem;
  color: rgba(121, 129, 154, 1);
}

.left-card {
  border-top: 1px solid rgba(226, 230, 238, 1);
  position: relative;
  max-width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}

.left-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  flex-basis: 200px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.item__logo {
  width: 30px;
  height: 30px;
}

.item__title {
  font-size: 0.7rem;
  color: rgba(121, 129, 154, 1);
}
.item__value {
  font-size: 0.8rem;
  color: rgba(71, 81, 107, 1);
}

@media (max-width: 390px) {
  .left-card__list {
    flex-direction: column;
    align-items: center;
  }

  .item {
    flex-basis: 50px;
    flex-grow: 0;
    min-width: 200px;
  }
}

/* main */
.right {
  position: relative;
  padding-top: 60px;
}

.section-container {
  width: 100%;
  padding-left: 10%;
  padding-bottom: 20px;
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

.section-container__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.section-container__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* card */
.card {
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

/* latest item card */
.card__latest-project {
  flex-grow: 1;
  flex-basis: 230px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__latest-project__col {
  display: flex;
  align-items: center;
  gap: 2px;
}

.card__latest-project__col--first {
  align-items: flex-start;
  gap: 10px;
}
.card__latest-project__col--second {
  gap: 5px;
}

.card__latest-project__img {
  flex-basis: 49px;
  height: 49px;
  flex-grow: 0;
  flex-shrink: 0;
}
.card__latest-project__logo {
  flex-basis: 49px;
  height: 49px;
  flex-grow: 0;
  flex-shrink: 0;
}
.card__latest-project__title {
  font-weight: 500;
  font-size: 1rem;
}
.card__latest-project__detail {
  color: rgba(121, 129, 154, 1);
  font-size: 0.8rem;
  font-weight: 400;
}
.card__latest-project__link-logo {
  width: 29px;
  height: 29px;
}

.card__latest-project__link {
}

/* experience card */
.card__experience {
  position: relative;
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgba(121, 129, 154, 1);
}
.card__experience__col--1::before {
  content: "";
  position: absolute;
  display: block;
  background-color: rgb(243, 241, 241);
  width: 1px;
  height: 80%;
  top: 25px;
  left: 0;
}

.card__experience__col--1::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(./images/inner_timeline-icon.png);
  width: 24px;
  height: 24px;
  top: 0px;
  left: -12px;
  z-index: 9;
}

.card__experience__header {
  display: flex;
  gap: 10px;
}
.card__experience__logo {
  flex-shrink: 0;
  flex-grow: 0;
  width: 40px;
  height: 40px;
}

.card__experience__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__experience__title h2 {
  font-weight: 400;
  font-size: 0.9rem;
}
.card__experience__title h3 {
  color: rgba(46, 46, 72, 1);
  font-weight: 500;
  font-size: 1rem;
}
.card__experience__header {
}
.card__experience__date-location {
  font-size: 0.7rem;
  margin-bottom: 5px;
  font-weight: 400;
}

.card__experience__date {
  color: rgba(71, 81, 107, 1);
}
.card__experience__location-icon {
  padding: 0 5px;
}

.card__experience__info {
  font-weight: 400;
  font-size: 0.8rem;
}

/* education card */

.card__education {
  flex-basis: 200px;
  flex-grow: 1;
}

.card__education__col-1 {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  font-size: 0.8rem;
}

.card__education__col-2 {
}

.card__education__logo {
}

.card__education__title {
}

.card__education__detail {
  color: rgba(46, 46, 72, 1);
  font-size: 0.9rem;
}

.card__education__date {
  color: rgba(121, 129, 154, 1);
  font-weight: 400;
  font-size: 0.6rem;
}

/* ----------------- */

/* skill */

.skill__section-container__content {
  flex-direction: column;
}

.skill {
  display: flex;
}

.skill__title {
  width: 115px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.skill__logo {
  width: 24px;
  height: 24px;
}

.skill__content {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-weight: 500;
  font-size: 0.9rem;
  color: rgba(146, 81, 247, 1);
}

.subskill {
  background-color: var(--secondary-color);
  min-height: 60px;
  padding: 20px;
}

.subskill__list {
  list-style-type: disc;
  padding-left: 16px;
}

.subskill--flex {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.subskill--flex::after {
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  position: absolute;
  background-color: rgba(226, 230, 238, 1);
  top: 20%;
  left: 50%;
}
.subskill--flex__content {
  width: 50%;
}

.subskill--flex__text {
  width: 40px;
  margin: 0 auto;
  text-align: center;
}

/* tools */

.tools__section-container__content {
  gap: 10px;
}
.tool {
  padding: 0px;
  flex-basis: 129px;
  flex-grow: 1;
  height: 129px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.tool__img {
  width: 48px;
  height: 48px;
}

.tool__about {
  text-align: center;
}
.tool__about__name {
  font-size: 0.8rem;
}

.tool__about__desc {
  font-weight: 400;
  font-size: 0.6rem;
}
/* ---------------------------- */

/* time-line */
.timeline-container::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(226, 230, 238, 1);
  top: 10px;
  left: 2px;
  width: 2px;
  height: 90%;
}

.timeline-point-container::after {
  content: "";
  display: block;
  width: 50px;
  height: 60px;
  background-image: url(./images/timeline_icon.png);
  background-position: center;
  position: absolute;
  top: -2px;
  left: -15px;
}

/* media queries */
@media (max-width: 500px) {
  .left-card {
    max-width: 300px;
    margin: 0 auto;
  }
  .section-container {
    width: 300px;
    margin: 0 auto;
    padding-left: 5%;
  }
}

@media (min-width: 768px) {
  /* body */
  body {
    flex-direction: row;
  }

  .left {
  }

  .right {
    padding-top: 30px;
  }

  /* aside card */
  .left-card {
    padding: 20px;
  }

  /* experience card */
  .card__experience {
    flex-direction: row;
    justify-content: space-between;
  }

  .card__experience__col {
    flex-basis: 500px;
    flex-grow: 1;
  }

  .card__experience__col--1 {
    flex-basis: 280px;
  }

  /* subskill */
  .skill__content {
    flex-direction: row;
  }

  .subskill {
    flex: 1;
  }

  /* tools */
  .tool {
    flex-grow: 1;
    padding: 20px;
  }
}
